# Arquivos de saída
*.o
*.out
*.exe
*.a
*.so
*.dSYM

# Diretórios de build
.vscode
/build/
bin/
obj/
.vscode/

# Arquivos de configuração do editor
*.swp
*.swo
*.swn
*~
*.tmp
*.temp

# Arquivos de backup
*.bak

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Outros
*.class
*.jar

# https://chatgpt.com/share/674ce38e-510c-800e-b4bf-65a7719f23e8